{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
<br/>
{{ .Content }}

<h2>Experience</h2>
<div class="posts-list">
{{ range sort .Data.Pages "Date" "desc" }}
    {{ if not .Params.private }}
        <div class="post">
            <p>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

<h2>Education</h2>
<div class="posts-list">
	{{ range sort .Data.Pages "Date" "desc" }}
		{{ if not .Params.private }}
        	<div class="post">
            	<p>
                	<h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{.Title }}</a></h1>
  			{{ .Summary }}
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

{{ end }}
